# fecundity.ipynb

In [4]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.27-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     |████████████████████████████████| 3.1 MB 14 kB/s eta 0:00:011
Collecting greenlet!=0.4.17; platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32")))))
  Downloading greenlet-3.0.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (667 kB)
     |████████████████████████████████| 667 kB 46 kB/s eta 0:00:01
Collecting typing-extensions>=4.6.0
  Downloading typing_extensions-4.9.0-py3-none-any.whl (32 kB)
Installing collected packages: greenlet, typing-extensions, sqlalchemy
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 4.1.1
    Uninstalling typing-extensions-4.1.1:
      Successfully uninstalled typing-extensions-4.1.1
Successfully installed greenlet-3.0.3 sqlalchemy-2.0.27 typing-extensions-4.9.0

In [8]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.4 MB)
     |████████████████████████████████| 12.4 MB 666 kB/s eta 0:00:01
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in /home/aubrey/Desktop/roadside-test/env/lib/python3.8/site-packages (from pandas) (1.23.5)
Collecting tzdata>=2022.1
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
     |████████████████████████████████| 345 kB 1.0 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /home/aubrey/Desktop/roadside-test/env/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/aubrey/Desktop/roadside-test/env/lib/python3.8/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/aubrey/Desktop/roadside-test/env/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.0.3 tzdata-2024.1

In [18]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x7f29e3592bb0>: Failed to establish a new connection: [Errno 101] Network is unreachable')': /packages/53/ed/26a4b8cacb8852c6fd97d2d58a7f2591c41989807ea82bd8d9725a4e6937/mysql_connector_python-8.3.0-py2.py3-none-any.whl
  Downloading mysql_connector_python-8.3.0-py2.py3-none-any.whl (557 kB)
     |████████████████████████████████| 557 kB 682 kB/s eta 0:00:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0

In [19]:
from sqlalchemy import create_engine, text
import getpass
import mysql.connector as mysql
from datetime import datetime
import pandas as pd

In [20]:
def get_database_engine():
  username = input('Enter username:')
  print('Enter password:')
  password = getpass.getpass()

  host = 'mysql.guaminsects.net'
  port = '3306'
  database = 'ornv'
  connection_string = f'mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}'
  engine = create_engine(connection_string)
  return engine

engine = get_database_engine()

Enter password:

In [24]:
def get_bioassay_data(date_dosed):
  q = f"""
  SELECT sn, date_dosed, treatment, date_dead
  FROM beetles
  WHERE date_dosed = '{date_dosed}'
  """
  df = pd.read_sql_query(sql=text(q), con=engine.connect())
  # Add a few calculated fields
  # df['days_post_treatment'] = (df['date_dead'] - df['date_dosed']).dt.days
  # df['dead'] = df['days_post_treatment'].notna()
  # df['days_post_treatment'] = df.days_post_treatment.fillna(df.days_post_treatment.max())
  return df

df = get_bioassay_data('2023-08-15')

In [27]:
df = pd.read_sql_table('beetles', engine.connect(), parse_dates=['date_collected', 'date_dosed', 'date_dead'])
df

,sn,date_collected,trap_id,sex,elytra_length,elytra_width,date_dosed,treatment,dose_mg,date_dead,pm_mites,pm_nema,pm_heartbeat,pm_image,pm_sample_id_prefix,pm_sample_id,notes
0,1,2023-07-09,1,f,20.68,17.90,NaT,,0,NaT,0,0,0,0,,0,"original_feeding_group: Monday, used_for: , fe..."
1,2,2023-07-09,1,m,21.36,17.57,2023-08-24,CONTROL,94,2023-08-29,0,0,0,0,,0,"original_feeding_group: Monday, used_for: , fe..."
2,3,2023-07-09,4,f,25.46,20.06,NaT,,0,2023-08-14,0,0,0,0,,0,"original_feeding_group: Monday, used_for: , fe..."
3,4,2023-07-09,4,m,26.69,20.92,2023-08-24,PNG,175,2023-09-21,0,1,0,1,GUAM 2023,21,"original_feeding_group: Monday, used_for: , fe..."
4,5,2023-07-09,5,f,22.95,19.14,NaT,,0,2023-08-10,0,0,0,0,,0,"original_feeding_group: Monday, used_for: , fe..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,483,2023-08-23,39,f,24.01,18.20,NaT,,0,NaT,0,0,0,0,,0,"original_feeding_group: Thursday, used_for: , ..."
482,484,2023-08-23,39,f,25.08,20.07,NaT,,0,NaT,0,0,0,0,,0,"original_feeding_group: Thursday, used_for: , ..."
483,485,2023-08-23,35,m,23.23,17.19,NaT,,0,NaT,0,0,0,0,,0,"original_feeding_group: Thursday, used_for: , ..."
484,486,2023-08-23,40,f,22.31,17.54,NaT,,0,NaT,0,0,0,0,,0,"original_feeding_group: Thursday, used_for: , ..."
485,487,2023-08-23,40,f,26.87,21.38,NaT,,0,NaT,0,0,0,0,,0,"original_feeding_group: Thursday, used_for: , ..."

In [29]:
df.to_csv('beetles.csv', index=False)

In [104]:
df_beetles = pd.read_csv('beetles.csv', parse_dates=['date_collected', 'date_dosed', 'date_dead'])
df_beetles['days_between_treatment_and_death'] = df_beetles.date_dead - df_beetles.date_dosed
df_beetles

,sn,date_collected,trap_id,sex,elytra_length,elytra_width,date_dosed,treatment,dose_mg,date_dead,pm_mites,pm_nema,pm_heartbeat,pm_image,pm_sample_id_prefix,pm_sample_id,notes,days_between_treatment_and_death
0,1,2023-07-09,1,f,20.68,17.90,NaT,NaN,0,NaT,0,0,0,0,NaN,0,"original_feeding_group: Monday, used_for: , fe...",NaT
1,2,2023-07-09,1,m,21.36,17.57,2023-08-24,CONTROL,94,2023-08-29,0,0,0,0,NaN,0,"original_feeding_group: Monday, used_for: , fe...",5 days
2,3,2023-07-09,4,f,25.46,20.06,NaT,NaN,0,2023-08-14,0,0,0,0,NaN,0,"original_feeding_group: Monday, used_for: , fe...",NaT
3,4,2023-07-09,4,m,26.69,20.92,2023-08-24,PNG,175,2023-09-21,0,1,0,1,GUAM 2023,21,"original_feeding_group: Monday, used_for: , fe...",28 days
4,5,2023-07-09,5,f,22.95,19.14,NaT,NaN,0,2023-08-10,0,0,0,0,NaN,0,"original_feeding_group: Monday, used_for: , fe...",NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,483,2023-08-23,39,f,24.01,18.20,NaT,NaN,0,NaT,0,0,0,0,NaN,0,"original_feeding_group: Thursday, used_for: , ...",NaT
482,484,2023-08-23,39,f,25.08,20.07,NaT,NaN,0,NaT,0,0,0,0,NaN,0,"original_feeding_group: Thursday, used_for: , ...",NaT
483,485,2023-08-23,35,m,23.23,17.19,NaT,NaN,0,NaT,0,0,0,0,NaN,0,"original_feeding_group: Thursday, used_for: , ...",NaT
484,486,2023-08-23,40,f,22.31,17.54,NaT,NaN,0,NaT,0,0,0,0,NaN,0,"original_feeding_group: Thursday, used_for: , ...",NaT
485,487,2023-08-23,40,f,26.87,21.38,NaT,NaN,0,NaT,0,0,0,0,NaN,0,"original_feeding_group: Thursday, used_for: , ...",NaT

In [41]:
# df = pd.read_sql_table('mass', engine.connect(), parse_dates=['dt'])
# df.to_csv('mass.csv', index=False)
df_mass = pd.read_csv('mass.csv', parse_dates=(['dt']))
df_mass

     mass_id   sn                  dt    mg note
0          1   35 2023-08-04 12:00:00  3011  NaN
1          2   69 2023-08-04 12:00:00  5263  NaN
2          3   46 2023-08-04 12:00:00  3900  NaN
3          4   80 2023-08-04 12:00:00  5286  NaN
4          5   32 2023-08-04 12:00:00  4459  NaN
..       ...  ...                 ...   ...  ...
765      951  451 2023-08-31 12:01:00  4325  NaN
766      952  454 2023-08-31 12:00:00  5268  NaN
767      953  454 2023-08-31 12:01:00  5296  NaN
768      954  466 2023-08-31 12:00:00  3193  NaN
769      955  466 2023-08-31 12:01:00  3218  NaN

[770 rows x 5 columns]

In [52]:
df_mass.query('sn == 445')

     mass_id   sn                  dt    mg note
758      944  445 2023-08-31 12:00:00  3517  NaN
759      945  445 2023-08-31 12:01:00  3557  NaN

In [76]:
df = df_beetles.query('date_dosed == "2023-08-24"')
df = df.query(f'date_dead != "{df.date_dead.max()}"')
df

,sn,date_collected,trap_id,sex,elytra_length,elytra_width,date_dosed,treatment,dose_mg,date_dead,pm_mites,pm_nema,pm_heartbeat,pm_image,pm_sample_id_prefix,pm_sample_id,notes
1,2,2023-07-09,1,m,21.36,17.57,2023-08-24,CONTROL,94,2023-08-29,0,0,0,0,NaN,0,"original_feeding_group: Monday, used_for: , fe..."
3,4,2023-07-09,4,m,26.69,20.92,2023-08-24,PNG,175,2023-09-21,0,1,0,1,GUAM 2023,21,"original_feeding_group: Monday, used_for: , fe..."
6,7,2023-07-09,33,m,18.86,15.57,2023-08-24,PNG,76,2023-10-02,1,1,0,1,GUAM 2023,46,"original_feeding_group: Monday, used_for: , fe..."
10,11,2023-07-12,1,m,24.65,20.11,2023-08-24,CONTROL,66,2023-10-17,0,1,1,1,GUAM 202309,83,"original_feeding_group: Monday, used_for: , fe..."
35,36,2023-07-14,40,m,23.54,17.69,2023-08-24,CONTROL,111,2023-09-19,1,1,1,1,GUAM 2023,18,"original_feeding_group: Thursday, used_for: , ..."
39,40,2023-07-17,40,m,24.56,19.75,2023-08-24,V23B,71,2023-08-29,0,1,0,0,AgR Team 202209,20,"original_feeding_group: Monday, used_for: , fe..."
64,65,2023-07-17,20,f,22.45,17.33,2023-08-24,V23B,44,2023-10-11,0,1,1,1,GUAM 202309,63,"original_feeding_group: Thursday, used_for: , ..."
65,66,2023-07-17,4,f,23.93,19.54,2023-08-24,V23B,35,2023-09-04,0,1,0,1,AgR Team 202209,42,yellowish ooze on tip of abdomen
66,67,2023-07-17,1,f,23.94,18.84,2023-08-24,X2B,81,2023-08-28,0,0,0,0,AgR Team 202209,18,"original_feeding_group: Thursday, used_for: , ..."
74,75,2023-07-20,4,m,24.30,19.68,2023-08-24,DUG42,196,2023-09-10,1,1,1,1,none,58,many nematodes beneeath elytra
80,81,2023-07-20,20,f,21.10,16.32,2023-08-24,PNG,125,2023-09-25,1,1,1,1,GUAM 2023,31,"original_feeding_group: Thursday, used_for: , ..."
90,91,2023-07-20,34,f,23.50,18.86,2023-08-24,DUG42,27,2023-10-06,1,0,1,1,GUAM 202309,52,"original_feeding_group: Monday, used_for: , fe..."
94,95,2023-07-20,8,f,23.42,18.31,2023-08-24,CONTROL,90,2023-09-03,1,0,0,1,AgR Team 202209,36,NaN
95,96,2023-07-20,22,f,22.78,18.45,2023-08-24,DUG42,25,2023-10-09,0,1,0,1,GUAM 202309,57,"original_feeding_group: Monday, used_for: , fe..."
100,101,2023-07-24,7,m,24.39,18.99,2023-08-24,DUG42,34,NaT,0,0,0,0,NaN,0,"original_feeding_group: Monday, used_for: , fe..."
103,104,2023-07-24,6,m,26.38,20.44,2023-08-24,DUG42,81,2023-10-11,0,0,1,1,GUAM 202309,64,"original_feeding_group: Monday, used_for: , fe..."
105,106,2023-07-24,17,f,25.56,21.17,2023-08-24,V23B,108,2023-09-19,0,1,1,1,GUAM 2023,16,"original_feeding_group: Thursday, used_for: , ..."
106,107,2023-07-24,7,f,24.93,20.13,2023-08-24,CONTROL,21,2023-10-16,1,0,1,1,GUAM 202309,79,"original_feeding_group: Thursday, used_for: , ..."
108,109,2023-07-24,17,f,24.25,18.98,2023-08-24,CONTROL,164,2023-09-01,0,1,1,1,AgR Team 202209,27,"original_feeding_group: Thursday, used_for: , ..."
110,111,2023-07-24,20,f,23.43,17.96,2023-08-24,X2B,27,2023-10-12,0,1,1,1,GUAM 202309,66,"original_feeding_group: Thursday, used_for: , ..."
115,116,2023-07-24,8,m,23.97,19.07,2023-08-24,PNG,177,2023-09-12,1,0,1,1,none,60,NaN
117,118,2023-07-24,21,m,23.75,19.14,2023-08-24,PNG,99,2023-08-26,0,0,1,0,AgR Team 202209,14,"original_feeding_group: Thursday, used_for: , ..."
122,123,2023-07-24,38,m,23.78,18.53,2023-08-24,V23B,67,2023-09-14,0,1,1,1,none,67,"original_feeding_group: Monday, used_for: , fe..."
134,135,2023-07-24,1,f,25.62,19.52,2023-08-24,V23B,926,2023-10-02,1,0,0,0,NaN,0,"original_feeding_group: Monday, used_for: , fe..."
137,138,2023-07-24,32,m,23.16,19.20,2023-08-24,CONTROL,50,2023-09-05,0,0,0,1,AgR Team 202209,47,"original_feeding_group: Thursday, used_for: , ..."
142,143,2023-07-29,1,m,24.43,19.02,2023-08-24,X2B,17,2023-10-16,0,0,1,1,GUAM 202309,78,"original_feeding_group: Thursday, used_for: , ..."
151,152,2023-07-29,4,m,24.88,19.12,2023-08-24,X2B,121,2023-09-04,0,0,1,1,AgR Team 202209,44,NaN
152,153,2023-07-29,2,m,20.80,16.07,2023-08-24,PNG,53,2023-10-11,0,1,1,1,GUAM 202309,60,"original_feeding_group: Thursday, used_for: , ..."
153,154,2023-07-29,31,m,24.78,19.53,2023-08-24,PNG,81,2023-08-28,0,0,0,0,AgR Team 202209,17,"original_feeding_group: Monday, used_for: , fe..."
157,158,2023-07-29,5,m,25.43,20.85,2023-08-24,DUG42,73,2023-09-24,1,1,1,1,GUAM 2023,27,"original_feeding_group: Monday, used_for: , fe..."
158,159,2023-07-29,3,m,21.83,17.85,2023-08-24,X2B,63,2023-09-24,0,1,0,1,GUAM 2023,28,"original_feeding_group: Monday, used_for: , fe..."
163,164,2023-07-29,38,f,26.65,21.24,2023-08-24,X2B,108,2023-09-14,0,1,1,1,none,65,"original_feeding_group: Monday, used_for: , fe..."
169,170,2023-07-29,36,m,23.10,18.30,2023-08-24,V23B,133,2023-09-03,0,0,0,1,AgR Team 202209,38,NaN
173,175,2023-07-31,40,f,27.01,21.08,2023-08-24,CONTROL,56,2023-10-13,0,1,1,1,GUAM 202309,69,"original_feeding_group: Thursday, used_for: , ..."
175,177,2023-07-31,24,m,22.05,17.09,2023-08-24,V23B,31,2023-10-16,0,0,1,1,GUAM 202309,74,"original_feeding_group: Thursday, used_for: , ..."
181,183,2023-07-31,8,f,26.30,20.90,2023-08-24,V23B,30,2023-09-28,0,1,1,1,GUAM 2023,38,"original_feeding_group: Monday, used_for: , fe..."
182,184,2023-07-31,1,m,23.24,17.74,2023-08-24,V23B,126,2023-09-24,0,1,0,1,GUAM 2023,26,"original_feeding_group: Monday, used_for: , fe..."
183,185,2023-07-31,2,f,24.87,19.24,2023-08-24,DUG42,94,2023-09-18,1,0,0,1,GUAM 2023,4,"original_feeding_group: Monday, used_for: , fe..."
187,189,2023-07-31,4,f,23.57,17.93,2023-08-24,PNG,81,2023-09-28,0,0,1,1,GUAM 2023,40,"original_feeding_group: Monday, used_for: , fe..."
189,191,2023-07-31,1,f,24.20,18.51,2023-08-24,V23B,96,2023-09-14,0,1,1,1,none,66,"original_feeding_group: Monday, used_for: , fe..."
194,196,2023-07-31,12,m,27.04,22.10,2023-08-24,DUG42,12,2023-08-25,1,0,1,1,AgR Team 202209,11,"original_feeding_group: Monday, used_for: , fe..."
195,197,2023-07-31,12,f,24.71,21.24,2023-08-24,DUG42,60,2023-10-16,0,0,1,1,GUAM 202309,80,"original_feeding_group: Monday, used_for: , fe..."
201,203,2023-07-31,19,f,21.55,16.30,2023-08-24,X2B,81,2023-09-03,0,0,0,1,AgR Team 202209,37,NaN
206,208,2023-08-02,31,m,22.56,18.56,2023-08-24,X2B,4,2023-10-17,0,0,1,1,GUAM 202309,84,"original_feeding_group: Monday, used_for: , fe..."
207,209,2023-08-02,6,f,22.32,17.28,2023-08-24,PNG,1,2023-10-17,1,1,1,1,GUAM 202309,85,"original_feeding_group: Monday, used_for: , fe..."
209,211,2023-08-02,1,f,24.18,19.06,2023-08-24,PNG,83,2023-09-14,0,1,0,1,none,63,"original_feeding_group: Thursday, used_for: , ..."
210,212,2023-08-02,1,m,23.96,18.63,2023-08-24,X2B,68,2023-10-03,0,1,0,1,GUAM 2023,49,"original_feeding_group: Monday, used_for: , fe..."
214,216,2023-08-02,21,m,23.57,18.60,2023-08-24,CONTROL,41,2023-10-02,1,0,1,1,GUAM 2023,45,"original_feeding_group: Monday, used_for: , fe..."
261,263,2023-08-08,24,f,25.88,20.68,2023-08-24,CONTROL,27,2023-09-28,0,1,0,1,GUAM 2023,39,"original_feeding_group: Monday, used_for: , fe..."
271,273,2023-08-08,32,f,22.62,17.27,2023-08-24,DUG42,176,2023-08-31,0,0,1,1,AgR Team 202209,26,"original_feeding_group: Thursday, used_for: , ..."

In [68]:
sorted(df_beetles.date_dosed.unique())

[NaT,
 Timestamp('2023-07-31 00:00:00'),
 Timestamp('2023-08-04 00:00:00'),
 Timestamp('2023-08-15 00:00:00'),
 Timestamp('2023-08-24 00:00:00'),
 Timestamp('2023-08-31 00:00:00')]

In [96]:
dt = df.date_dead - df.date_dosed
dt

1      5 days
3     28 days
6     39 days
10    54 days
35    26 days
39     5 days
64    48 days
65    11 days
66     4 days
74    17 days
80    32 days
90    43 days
94    10 days
95    46 days
100       NaT
103   48 days
105   26 days
106   53 days
108    8 days
110   49 days
115   19 days
117    2 days
122   21 days
134   39 days
137   12 days
142   53 days
151   11 days
152   48 days
153    4 days
157   31 days
158   31 days
163   21 days
169   10 days
173   50 days
175   53 days
181   35 days
182   31 days
183   25 days
187   35 days
189   21 days
194    1 days
195   53 days
201   10 days
206   54 days
207   54 days
209   21 days
210   40 days
214   39 days
261   35 days
271    7 days
dtype: timedelta64[ns]

In [101]:
dt.median()

Timedelta('31 days 00:00:00')